rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Logic for BidTech Multi-tenancy
    function isAccountMember(accountId) {
      return request.auth != null && 
             firestore.exists(/databases/(default)/documents/accounts/$(accountId)/users/$(request.auth.uid));
    }

    // This matches: const imagePath = `items/${accountId}/${auctionId}`;
    match /items/{accountId}/{auctionId}/{allPaths=**} {
      allow read, write: if isAccountMember(accountId);
    }
  }
}