rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // By default, deny all reads and writes
    match /{document=**} {
      allow read, write: if false;
    }

    // ========= HELPER FUNCTIONS =========
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isUser(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAccountAdmin(accountId) {
      // Use the user's profile document to check for admin role.
      let userProfile = get(/databases/$(database)/documents/users/$(request.auth.uid));
      return isSignedIn() && 
             (userProfile.data.accounts[accountId] == 'admin');
    }

    function isAccountMember(accountId) {
      // Use the user's profile document to check for any role in the account.
      let userProfile = get(/databases/$(database)/documents/users/$(request.auth.uid));
      return isSignedIn() && userProfile.data.accounts[accountId] != null;
    }
    
    function isInvitedUser(invitation) {
      // The client already saves the invitation email as lowercase.
      return isSignedIn() &&
             request.auth.token.email != null &&
             invitation.email != null &&
             request.auth.token.email.lower() == invitation.email;
    }

    // ========= COLLECTION GROUP RULES =========
    
    match /{path=**}/items/{itemId} {
      allow read: if isAccountMember(resource.data.accountId);
    }

    match /{path=**}/memberships/{membershipId} {
      // Required for discovery query
      allow read: if isSignedIn() && (request.auth.uid == resource.data.userId || request.auth.token.email.lower() == resource.data.email);
    }


    // ========= ROOT COLLECTIONS =========
    
    match /users/{userId} {
      allow create: if isUser(userId);
      allow read: if isUser(userId);
      allow update: if isUser(userId);
      
      // Allow searching by email for team management
      allow list: if isSignedIn();
    }
  
    match /invitations/{inviteId} {
      allow create: if isAccountAdmin(request.resource.data.accountId);
      allow delete: if isAccountAdmin(resource.data.accountId);
      allow get: if isAccountAdmin(resource.data.accountId) || isInvitedUser(resource.data);
      allow list: if isSignedIn() && request.query.accountId != null && isAccountAdmin(request.query.accountId);
      allow update: if isInvitedUser(resource.data);
    }
    
    match /accounts/{accountId} {
      allow create: if isUser(request.resource.data.adminUserId) && request.resource.data.id == accountId;
      allow read: if isAccountMember(accountId);
      allow update, delete: if isAccountAdmin(accountId);

      match /admins/{email} {
        allow get: if isSignedIn() && request.auth.token.email.lower() == email;
        allow list, create, delete: if isAccountAdmin(accountId);
      }

      match /memberships/{membershipId} {
        allow read: if isAccountMember(accountId);
        allow write: if isAccountAdmin(accountId);
      }
      
      match /patrons/{patronId} {
          allow read, create, update: if isAccountMember(accountId);
          allow delete: if isAccountAdmin(accountId);
          allow create, read, update: if isSignedIn() && request.auth.token.firebase.sign_in_provider == 'anonymous';
      }

      match /donors/{donorId} {
          allow read, create, update: if isAccountMember(accountId);
          allow delete: if isAccountAdmin(accountId);
      }
      
      match /auctions/{auctionId} {
        
        function isOwnerOrManager() {
          let auction = get(/databases/$(database)/documents/accounts/$(accountId)/auctions/$(auctionId));
          let isManager = isSignedIn() && auction.data.managers != null && request.auth.uid in auction.data.managers;
          return isAccountAdmin(accountId) || isManager;
        }

        function isAuthorizedStaff() {
          return isSignedIn() &&
                 exists(/databases/$(database)/documents/accounts/$(accountId)/auctions/$(auctionId)/staff/$(request.auth.uid));
        }

        allow get: if true; 
        allow list: if isAccountMember(accountId);
        allow create: if isAccountMember(accountId);
        allow update: if isOwnerOrManager();
        allow delete: if isAccountAdmin(accountId);

        match /staff/{staffId} {
          allow get: if true; 
          allow list, create, delete: if isOwnerOrManager();
          allow create: if isSignedIn() && staffId == request.auth.uid;
          allow update: if false;
        }

        match /{subcollection}/{docId} {
            allow read, list: if isOwnerOrManager() || isAuthorizedStaff();
            allow create, update: if isOwnerOrManager() || isAuthorizedStaff();
            allow delete: if isOwnerOrManager();
        }
      }
    }
  }
}
